@media (min-width: 768px) {
  .img-featured-match {
    max-height: 80px;
    max-width: 80px;
  }
}

/*.col-centered {*/
/*margin: 0 auto;*/
/*float: none;*/
/*}*/

/*
When creating your CSS selector,
change "brown" to something of your choosing
*/
//nav {
//  background-color: rgba(204, 78, 63, 0.75);
//  /*background-color: rgba(191, 116, 119, 0.3);*/
//}

.col-centered {
  display: block;
  margin: 0 auto;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/*html {*/
/*font-family: Abel, sans-serif;*/
/*}*/

body {
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: Abel, sans-serif;
  //font-family: Raleway;
  /*font-family: Helvetica;*/
  //font-family: Montserrat;
  //font-family: Cantarell;
  /*font-family: Old Standard TT;*/
  /*font-family: Oswald;*/
  font-size: 17px;
  line-height: 1.42857143;
  color: #524D4D;
  background-color: #F6F4F1 !important;
  min-height: 20px;
}

/*hr {*/
/*color: #101010;*/
/*}*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  /*font-family: Raleway!important;*/
  font-family: Abel, sans-serif !important;
  color: rgb(137, 44, 44);
}

.homefonts {
  color: maroon;
  //font-family: Lato !important;
  font-family: Abel, sans-serif !important;
}

.form-control {
  border-radius: 14px;
}

.button {
  color: maroon;
  /*background-color: #faf8ff;*/
  background-color: #ffffff;
  opacity: 1.0;
  border-color: maroon;
  border-radius: 14px;
  font-family: Lato;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
  color: #e90d26;
  background-color: mintcream;
  border-color: #17ecf2;
}

.btn.active.focus,
.btn.active:focus,
.btn.active:hover,
.btn:active.focus,
.btn:active:focus,
.btn:active:hover,
.open > .dropdown-toggle.btn.focus,
.open > .dropdown-toggle.btn:focus,
.open > .dropdown-toggle.btn:hover {
  color: #fff;
  background-color: #ffe6d3;
  border-color: #ccc;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn,
.btn.disabled:hover,
.btn[disabled]:hover,
fieldset[disabled] .btn:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
fieldset[disabled] .btn:focus,
.btn.disabled:active,
.btn[disabled]:active,
fieldset[disabled] .btn:active,
.btn.disabled.active,
.btn[disabled].active,
fieldset[disabled] .btn.active {
  background-color: #FFFFFF;
  border-color: #CCCCCC;
}

.btn .badge {
  color: #FFFFFF;
  background-color: #E98181;
}

.btn-lg {
  border-radius: 20px;
}

.label {
  display: inline;
  padding: .3em .3em .1em;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: middle;
  white-space: nowrap;
  vertical-align: top;
  border-radius: 2px;
}

.label-custom {
  display: inline;
  padding: .1em .1em .1em;
  font-size: 14px;
  font-weight: 700;
  line-height: 0.9;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  border-radius: 2px;
}

.label-custom1 {
  background-color: #4ea6e0;
  color: #ededed;
}

.label-custom2 {
  background-color: #17b721;
  color: #ededed;
}

.label-custom3 {
  background-color: rgb(244, 115, 5);
  color: #f6f6f6;
}

.label-custom4 {
  background-color: #e02400;
  color: #ffffff;
}

.label-custom5 {
  background-color: rgb(255, 7, 0);
  color: #ffffff;
}


//*****************************************
/* START HAMBURGER bench-toggle */
//*****************************************

#nav-icon4 {
  width: 36px;
  height: 14px;
  position: relative;
  margin: 1px auto;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgba(255, 200, 192, 1);
  border-radius: 9px;
  left: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/* BEFORE collapsed: hamburger */
#nav-icon4 span:nth-child(1) {
  top: -4px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 6px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(4) {
  top: 13px;
  height: 3px;
  width: 4px;
  opacity: 0.0;
}

#nav-icon4 span:nth-child(5) {
  top: 13px;
  opacity: 0.0;
  height: 3px;
  width: 4px;
}

/* AFTER extended: benchy */
#nav-icon4.open span:nth-child(1) {
  left: 3%;
  width: 94%;
  opacity: 1;
  height: 3.2px;
  top: -2px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(2) {
  left: 3%;
  width: 94%;
  opacity: 1;
  height: 3.2px;
  top: 3.5px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(3) {
  top: 10px;
  height: 2px;
}

#nav-icon4.open span:nth-child(4) {
  top: 13px;
  opacity: 1;
  height: 3px;
  width: 4px;
  -webkit-transform: translate(6px, 0px);
  transform: translate(6px, 0px);
}

#nav-icon4.open span:nth-child(5) {
  top: 13px;
  opacity: 1;
  height: 3px;
  width: 4px;
  -webkit-transform: translate(26px, 0px);
  transform: translate(26px, 0px);
}
